<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace ="authmapper">


<select id="loadAuthorities" parameterType="java.lang.String" resultType = "com.min.edu.vo.AuthVo">
	SELECT a.auth, a.INFO FROM AUTHTABLE a 
INNER JOIN MEMBERAUTH m ON (m.AUTH = a.AUTH )
INNER JOIN (
SELECT ID , ENABLED FROM STUDENT 
UNION
SELECT ID,ENABLED  FROM CENTER c 
UNION
SELECT ID,ENABLED  FROM TRAINST_MEMBER tm 
) UT ON (UT.id  = m.ID )
WHERE UT.ENABLED = 'T'
AND UT.id = #{id}
 </select>

<select id="selectUserAuth" parameterType="java.lang.String" resultType="com.min.edu.dto.MemberAuthDto">
SELECT ID,AUTH FROM MEMBERAUTH m WHERE id =#{id}
</select>

</mapper>
