<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace ="usermapper">

<!-- <resultMap type="com.min.edu.vo.LoginVo" id="vo"> -->
<!-- 	<result column="ID" property="id"/> -->
<!-- 	<result column="PASSWORD" property="password"/> -->
<!-- 	<result column="ENABLED" property="enabled"/> -->
<!-- </resultMap> -->

<!-- <select id="getMemberInfoById" parameterType="java.lang.String" resultMap = "uVo"> -->
<!-- 	SELECT SEQ, ID , PASSWORD, ENABLED FROM USERTABLE WHERE ID = #{id} AND enabled='ACTIVE' -->
<!-- 	</select> -->

<select id="login" parameterType="java.lang.String" resultType = "com.min.edu.vo.LoginVo">
	SELECT ID, PW AS password, ENABLED FROM (
	SELECT ID ,PW, ENABLED FROM STUDENT 
	UNION
	SELECT ID,PW,ENABLED  FROM CENTER c 
	UNION
	SELECT ID,PW,ENABLED  FROM TRAINST_MEMBER tm 
	) WHERE ID = #{id}
	AND ENABLED = 'T'
 </select>


<select id="idDuplChk" resultType="java.lang.String">
SELECT ID FROM (
SELECT ID, ENABLED FROM STUDENT 
UNION
SELECT ID,ENABLED FROM CENTER c 
UNION
SELECT ID,ENABLED FROM TRAINST_MEMBER tm 
) WHERE ID = #{id}
AND ENABLED = 'T'
</select>

<select id="selectOneUser" resultType="com.min.edu.dto.StudentDto">
SELECT ID,name FROM (
SELECT ID, name, ENABLED FROM STUDENT 
UNION
SELECT ID,cen_name AS name, ENABLED FROM CENTER c 
UNION
SELECT ID, TRPRCHAP AS name,ENABLED FROM TRAINST_MEMBER tm 
) WHERE ID = #{id}
AND ENABLED = 'T'
</select>


<select id="selectAllUser" resultType="com.min.edu.dto.StudentDto">
SELECT ID, name FROM (
SELECT ID, ENABLED, NAME FROM STUDENT 
UNION
SELECT ID,ENABLED, cen_name AS name FROM CENTER c 
UNION
SELECT ID,ENABLED, TRPRCHAP AS name FROM TRAINST_MEMBER tm 
) WHERE ENABLED = 'T'
</select>

<select id ='insertUserID'>
INSERT INTO USERID values( #{id} )
</select>

<select id = 'insertStudent' parameterType="com.min.edu.dto.StudentDto">
INSERT INTO STUDENT 
values(#{id},#{password}, #{name}, #{addr1} , #{addr2}, #{email}, #{phone},'T' ,'')
</select>

<select id = 'insertStudent_auth' parameterType="java.lang.String">
INSERT INTO MEMBERAUTH  values(#{id}, 'ROLE_STUDENT')
</select>

<select id = 'insertAcaDemy' parameterType="com.min.edu.dto.TrainstMemberDto">
INSERT INTO TRAINST_MEMBER 
values(#{id},#{password}, #{trainst_cst_id}, #{trprchap}, #{trprchapemail} , #{trprchaptel}, 'T');
</select>

<select id = 'insertAcaDemy_auth' parameterType="java.lang.String">
INSERT INTO MEMBERAUTH  values(#{id}, 'ROLE_ACADEMY')
</select>


<select id = 'insertCenter' parameterType="com.min.edu.dto.CenterDto">
INSERT INTO CENTER
values(#{id},#{password},  #{addr1} , #{addr2}, #{cen_name}, #{cen_phone}, 'T', '')
</select>
<select id = 'insertCenter_auth' parameterType="java.lang.String">
INSERT INTO MEMBERAUTH  values(#{id}, 'ROLE_CENTER')
</select>


</mapper>
