@charset "UTF-8";

@import url(//fonts.googleapis.com/earlyaccess/jejugothic.css);

body {
	padding: 0px;
	font-family: 'Jeju Gothic', sans-serif;
	background-color: #DBDBFF;
	color: black;
}

.container{
	width: 530px;
	height: 560px;
}

table {
	border-collapse: collapse;
}

.receive_msg {
	padding: 3px;
	width: 400px;
	height: 400px;
	overflow-y: scroll;
	overflow-x: hidden;
	background: #FEF7DA;
	margin: 0px 45px;
}

.receive_msg::-webkit-scrollbar {
	width: 8px;
	height: 8px;
	background: #ffffff;
}

.receive_msg::-webkit-scrollbar-thumb {
	border-radius: 3.5px;
	background-color: #ced4da;
}

.chat {
	width: 360px;
	height: 40px;
	padding: 5px;
	float: left;
	margin-top: 4px;
	margin-left: 45px;
	resize: none;
	border: 0px solid black;
	background-color: white;
	color: #2C3E50;
}

.chat:focus {
	outline: none;
}

.chat_btn {
	margin-top: 10px;
	margin-left: 10px;
	width: 32px;
	height: 32px;
	background-image: url("../images/chat_sendbtn.png");
	background-size: 100% 100%;
	display: inline-block;
	font
}

.chat_btn:hover{
	cursor: pointer;
}

.memListBox {
	text-align: center;
	vertical-align: text-top;
	padding: 10px;
	overflow: auto;
	background-color:
}

.listTitle {
	height: 50px;
	vertical-align: top;
	font-size: 12px;
	font-weight: bold;
}

.mem_icon {
	padding: 0px;
	display: inline-block;
	float: left;
}

.mem_p:hover {
	background-color: #F3F3F3;
}

.memList {
	vertical-align: top;
	position: relative;
}

.noticeTxt {
	clear: both;
	margin: 10px;
	height: 30px;
	text-align: center;
	background-color : #FEF7DA;
}

.noticeTxt font {
	padding-top: 5px;
	padding-bottom: 5px;
	padding-left: 20px;
	padding-right: 20px;
	background: white;
	border-radius: 3px;
}

.fileTxt {
	clear: both;
	margin: 10px;
	height: 30px;
	text-align: center;
	background-color : #FEF7DA;
}

.fileTxt font {
	padding-top: 5px;
	padding-bottom: 5px;
	padding-left: 20px;
	padding-right: 20px;
	background: white;
	border-radius: 3px;
}

.btnHeader{
	width: 95%;
	text-align: center;
}

.out_btn {
	background-image: url(../images/chat_outbtn.png);
	width: 32px;
	height: 32px;
	margin-left: 50px;
	margin-top: 7px;
	float: left;
}

.out_btn:hover{
	cursor: pointer;
}

#file_div{
	background-image: url(../images/chat_file.png);
	background-color: transparent;
	padding: 0px;
	border: 0px;
	margin-top: 10px;
	height: 24px;
	width: 24px;
	margin-left: 305px;
	float: left;
}

.sideMenuBtn{
	margin-top: 7px;
	float: right;
	margin-right: 18px;
	width: 40px;
	font-size: x-large;"
}

.sideMenuBtn:hover{
	cursor: pointer;
}

#sendDiv {
	float: right;
	clear: right;
	display: inline-block;
	margin: 10px;
	background-color: white;
	position: relative;
	overflow:hidden;
	width: auto;
	padding: 5px;
	border-radius: 3px;
}

#receiveDiv {
	float: left;
	clear: left;
	overflow:hidden;
	width: auto;
	display: inline-block;
	margin: 10px;
	background-color: #FFD8D9;
	position: relative;
	padding: 5px;
	border-radius: 5px;
}

#sender {
	text-align: left;
}

#receiver {
	text-align: left;
}

#entrance{
	font-size: 1px;
	color: #2478FF;
	font-size: x-small;
}

/* 파일업로드 모달창에서의 css  */
.fileListTd{
	font-size: small;
	color: black;
}

.fileListTd:hover{
	cursor: pointer;
	text-decoration: underline;
	font: bolder;
}

#myModal{
	height: 400px;
}

.modal-body{
	height: 250px;
	overflow-y: scroll;
	overflow-x: hidden;
}



.modal-body::-webkit-scrollbar {
	width: 8px;
	height: 8px;
	background: #ffffff;
}

.modal-body::-webkit-scrollbar-thumb {
	border-radius: 3.5px;
	background-color: #ced4da;
}

