@charset "UTF-8";

#chatContainer {
	width: 300px;
	height: 460px;
	margin: auto;
	background-color: #ebebeb;
}

.addUser {
	margin-top: 8px;
	float: left;
	margin-left: 40px;
	width: 48px;
	height: 48px;
	background-image: url("../images/chat_addUser.png");
}

.addUser:hover {
	cursor: pointer;
}

.friendList {
	margin-top: 8px;
	float: left;
	margin-left: 40px;
	width: 48px;
	height: 48px;
	background-image: url("../images/chat_friendList.png");
}

.friendList:hover {
	cursor: pointer;
}


.myChatList {
	margin-top: 8px;
	float: left;
	margin-left: 40px;
	width: 48px;
	height: 48px;
	background-image: url("../images/chat_myChatList.png");
}

.myChatList:hover {
	cursor: pointer;
}

.chatTable {
	margin: 10px auto;
	width: 250px;
	border-collapse: collapse;
	color: black;
	text-align: center;
}

.subject {
	color: black;
	font: bolder;
	font-size: large;
	margin: 10px auto;
}

.subjectDiv {
	padding-top: 20px;
	text-align: center;
}

.btn {
	color: white;
	background-color: #A5B7CA;
}

.scrollDiv {
	overflow-x: hidden;
	overflow-y: scroll;
	margin-right: 5px;
}

.scrollDiv::-webkit-scrollbar {
	width: 8px;
	height: 8px;
	background: #ffffff;
}

.scrollDiv::-webkit-scrollbar-thumb {
	border-radius: 3.5px;
	background-color: #36393F;
	&:
	hover
	{
	background
	-color
	:
	#adb5bd;
}

}
.scrollDiv::-webkit-scrollbar-track {
	background: white;
}

.searchBar {
  color: white;
}

.search {
  margin-left: 10px;
  border: none;
  height: 3rem;
  padding: 1rem 1.5rem;
  width: 0;
  border-radius: 3rem;
  text-indent: 1.5rem;
  font-size: 1.4rem;
  cursor: pointer;
  transition: background 0.2s ease-out, width 0.2s ease-out;
  background: #2C3E50 url(data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAABQAAAAUCAYAAACNiR0NAAAAGXRFWHRTb2Z0d2FyZQBBZG9iZSBJbWFnZVJlYWR5ccllPAAAAZFJREFUeNqk1MsrRFEcwPFjMAwyJKyUmKxslGxsZmPEbDwWbGXDH6DYUFbWypookr/AwuSxYE8pz1DCwitSyPU9/NTP7d6TxqlPc+ae3/11Hr9zjed5RoliGBnc4wPnWESrLzaQ/tOEY8/d5hFzJcz5ympMCzIoNt/N9lfxgAT6UKPGOvBqghoJC9TM7DK7MIFdHKFeYqbVTCdcSx5Sgd3YUf/f0KxeWJHnz6gIS5iRoDWMS/8S/ajyvVArB2XbQFjCGwkYwZ70ex0bvy8xU0HjEbYxLtt5hxjesWXC2738lgQN5uEStWhACmW4CUlmJ1Av/euwU56TJZzJaboKN60OLBm2h0kVNONIVo1TiTtEruumLKmky6hTQRF0qmTvaEfclbBIlY8npWFPc1tVwU8yW7dtUqNjrrucj0k8hdzjA6TQgUf1fFY+Kr/usm7lSKMRpbjCppRSIW4R9b2zgZ6vsb98knxGHStoyCahtRCS9CRismuDWA94/pLtDK1KqcefdoHEfxJaCdm7PembTwEGAAErBY25/RWsAAAAAElFTkSuQmCC) 5px 5px no-repeat;
}
.search:hover, .search:focus {
  background: #2C3E50 url(data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAABQAAAAUCAYAAACNiR0NAAAAGXRFWHRTb2Z0d2FyZQBBZG9iZSBJbWFnZVJlYWR5ccllPAAAAZFJREFUeNqk1MsrRFEcwPFjMAwyJKyUmKxslGxsZmPEbDwWbGXDH6DYUFbWypookr/AwuSxYE8pz1DCwitSyPU9/NTP7d6TxqlPc+ae3/11Hr9zjed5RoliGBnc4wPnWESrLzaQ/tOEY8/d5hFzJcz5ympMCzIoNt/N9lfxgAT6UKPGOvBqghoJC9TM7DK7MIFdHKFeYqbVTCdcSx5Sgd3YUf/f0KxeWJHnz6gIS5iRoDWMS/8S/ajyvVArB2XbQFjCGwkYwZ70ex0bvy8xU0HjEbYxLtt5hxjesWXC2738lgQN5uEStWhACmW4CUlmJ1Av/euwU56TJZzJaboKN60OLBm2h0kVNONIVo1TiTtEruumLKmky6hTQRF0qmTvaEfclbBIlY8npWFPc1tVwU8yW7dtUqNjrrucj0k8hdzjA6TQgUf1fFY+Kr/usm7lSKMRpbjCppRSIW4R9b2zgZ6vsb98knxGHStoyCahtRCS9CRismuDWA94/pLtDK1KqcefdoHEfxJaCdm7PembTwEGAAErBY25/RWsAAAAAElFTkSuQmCC) 5px 5px no-repeat;
}
.search:focus {
  width: 93%;
  outline: none;
  cursor: text;
}