@charset "UTF-8";

td {
	padding: 10px 0px 10px 0px;
}

#searchContainer{
	width: 1000px;
	border: 1px solid red;
	margin: 100px auto;
	padding-left: 63px;
	padding-right: 63px;
/* 	margin-left: 220px; */
/* 	text-align: center; */
}

.searchMove > td {
	font-size: large;
	width: 291px;
	height: 50px;
	background: lightgray;
	padding: 100px auto;
	text-align: center;
}

#keywordType1{
	background: white;
}
#viewheader{
	border: 1px solid black;
	position: relative;
	width: 400px;
	height: 60px;
	margin: 20px 0px 20px 50px;
}
#viewheader > h3{
	font-weight: bold;
	padding-left: 50px;
	vertical-align: middle;
}
#viewheader > img{
	width: 13px;
	height: 42px;
	position: absolute;
	margin: 10px;
/* 	text-align: center; */
	vertical-align: middle;
}

.searchKey{
	width: 872px;
}
